theme:
    name: material
    features:
        - navigation.sections  # Sections are included in the navigation on the left.
    palette:
        - scheme: default
          primary: teal
          accent: teal
          toggle:
             icon: material/weather-night
             name: Switch to dark mode
        - scheme: slate
          primary: teal
          accent: teal
          toggle:
             icon: material/weather-sunny
             name: Switch to light mode
    icon:
        repo: fontawesome/brands/github  # GitHub logo in top right

site_name: probdiffeq
site_description: The documentation for the probdiffeq software library.
site_author: Nicholas Krämer

strict: true

# Credit for a good amount of this setup: https://github.com/patrick-kidger/diffrax

extra_css:
    - _static/custom.css

markdown_extensions:
    - pymdownx.arithmatex:
        generic: true
    - pymdownx.superfences
    - pymdownx.details
    - pymdownx.snippets:
        base_path: docs
    - admonition
    - toc:
        permalink: "¤"
        toc_depth: 3

extra_javascript:
  # Credit: https://squidfunk.github.io/mkdocs-material/reference/mathjax/
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

plugins:
    - search
    - mkdocstrings:
        handlers:
            python:
                options:
                    inherited_members: true
                    show_root_full_path: true
                    show_if_no_docstring: true
                    show_signature_annotations: true
                    show_source: true
                    docstring_style: numpy
                    members_order: alphabetical
                    show_root_heading: true
    - exclude:
        glob:
          - "examples/*.md"
          - "advanced_examples/*.md"
          - "benchmarks/internal_only.md"
          - "benchmarks/nonstiff_multiple_frameworks.md"
    - mknotebooks


nav:
    - index.md
    - Quickstart:
        - "quickstart/quickstart.md"
        - "quickstart/transitioning_from_other_packages.md"
    - Examples:
        - "examples/posterior_uncertainties.ipynb"
        - "examples/second_order_problems.ipynb"
        - "examples/smoothing.ipynb"
        - "examples/solution_object.ipynb"
        - "examples/dynamic_output_scales.ipynb"
        - "examples/conditioning-on-zero-residual.ipynb"
    - Advanced Examples:
        - "advanced_examples/physics_enhanced_regression_1.ipynb"
        - "advanced_examples/physics_enhanced_regression_2.ipynb"
    - API Documentation:
        - "api_docs/ivpsolve.md"
        - "api_docs/solvers.md"
        - Estimation strategies:
          - "api_docs/strategies/filters.md"
          - "api_docs/strategies/smoothers.md"
        - Solver implementations:
          - "api_docs/implementations/recipes.md"
          - "api_docs/implementations/vect.md"
          - "api_docs/implementations/iso.md"
          - "api_docs/implementations/batch.md"
        - "api_docs/dense_output.md"
        - "api_docs/taylor.md"
        - "api_docs/controls.md"
        - "api_docs/cubature.md"
    - Developer Documentation:
        - "dev_docs/init_apply_extract.md"
        - "dev_docs/on_the_edges.md"
    - Benchmarks:
        - "benchmarks/insights.md"
        - "benchmarks/internal_only.ipynb"
        - "benchmarks/nonstiff_multiple_frameworks.ipynb"
