---
theme:
  name: material
  features:
    - navigation.sections
    - navigation.path
    - navigation.indexes
    - search.suggest
    - search.highlight
  palette:
    - scheme: default
      primary: white
      accent: amber
      toggle:
        icon: material/eye
        name: Switch to dark mode
    - scheme: slate
      primary: black
      accent: amber
      toggle:
        icon: material/eye-outline
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github
  font:
    text: Fira Sans
site_name: probdiffeq documentation
site_description: The documentation for the probdiffeq library.
site_author: Nicholas Krämer
strict: true
repo_url: https://github.com/pnkraemer/probdiffeq
repo_name: pnkraemer/probdiffeq

# Credit for a good amount of this setup: https://github.com/patrick-kidger/diffrax
extra_css: [_stylesheets/extra.css]
markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.snippets:
      base_path: docs
  - admonition
  - toc:
      permalink: ¤
      toc_depth: 2
extra_javascript:
  # Credit:
  #  https://github.com/patrick-kidger/diffrax
  #  and https://squidfunk.github.io/mkdocs-material/reference/mathjax/
  - _javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy
            show_signature_annotations: true
            show_bases: false
            show_source: false
            inherited_members: false
            show_if_no_docstring: false
            merge_init_into_class: true
            group_by_category: true
  - exclude:
      glob:
        - examples*/*.py
        - examples*/*.ipynb_*
        - benchmarks*/**/*.md
        - benchmarks*/**/*.py
  - mkdocs-jupyter
extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/@pnkraemer
      name: pnkraemer
  generator: false
nav:
  - index.md
  - An easy example: examples_quickstart/quickstart.ipynb
  - Migration guide: migration_guide.md
  - Choosing a solver: choosing_a_solver.md
  - Troubleshooting: troubleshooting.md
  - EXAMPLES | BASIC:
      - examples_basic/conditioning_on_zero_residual.ipynb
      - examples_basic/posterior_uncertainties.ipynb
      - examples_basic/dynamic_output_scales.ipynb
      - examples_basic/second_order_problems.ipynb
      - examples_basic/taylor_coefficients.ipynb
  - EXAMPLES | ADVANCED:
      - examples_advanced/parameter_estimation_optax.ipynb
      - examples_advanced/parameter_estimation_blackjax.ipynb
      - examples_advanced/neural_ode.ipynb
      - examples_advanced/equinox_while_loop.ipynb
      - examples_advanced/solve_pde.ipynb
  - EXAMPLES | BENCHMARKS:
      - examples_benchmarks/work-precision-lotka-volterra.ipynb
      - examples_benchmarks/work-precision-pleiades.ipynb
      - examples_benchmarks/work-precision-vanderpol.ipynb
      - examples_benchmarks/work-precision-hires.ipynb
      - examples_benchmarks/taylor-init-fitzhughnagumo.ipynb
      - examples_benchmarks/taylor-init-node.ipynb
      - examples_benchmarks/taylor-init-pleiades.ipynb
      - examples_benchmarks/convergence-rates-lotka-volterra.ipynb
  - DOCUMENTATION | API:
      - probdiffeq: api_docs/probdiffeq.md
      - ivpsolve: api_docs/ivpsolve.md
      - taylor: api_docs/taylor.md
      - impl: api_docs/impl.md
  - DOCUMENTATION | DEVELOPER:
      - dev_docs/creating_example_notebook.md
      - dev_docs/continuous_integration.md
