theme:
    name: material
    features:
        - toc.integrate
    palette:
        - scheme: default
          primary: red
          accent: red
          toggle:
             icon: material/weather-night
             name: Switch to dark mode
        - scheme: slate
          primary: black
          accent: black
          toggle:
             icon: material/weather-sunny
             name: Switch to light mode

site_name: probdiffeq
site_description: The documentation for the probdiffeq software library.
site_author: Nicholas Krämer

strict: true

# Credit for a good amount of this setup: https://github.com/patrick-kidger/diffrax

extra_css:
    - _static/custom.css

markdown_extensions:
    - pymdownx.arithmatex:
        generic: true
    - pymdownx.superfences
    - pymdownx.details
    - pymdownx.snippets:
        base_path: docs
    - admonition
    - toc:
        permalink: "¤"
        toc_depth: 3

extra_javascript:
  # Credit:
  #  https://github.com/patrick-kidger/diffrax
  #  and https://squidfunk.github.io/mkdocs-material/reference/mathjax/
  - _javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

plugins:
    - mkdocstrings:
        handlers:
            python:
                options:
                    inherited_members: alphabetical
                    show_root_full_path: true
                    show_if_no_docstring: true
                    show_signature_annotations: true
                    show_source: true
                    docstring_style: numpy
                    show_root_heading: true
                    heading_level: 2
    - exclude:
        glob:
          - "quickstart/easy_example.md"
          - "examples/*.md"
          - "advanced_examples/*.md"
          - "benchmarks/lotka_volterra/internal.md"
          - "benchmarks/lotka_volterra/external.md"
          - "benchmarks/pleiades/external.md"
          - "benchmarks/stiff_van_der_pol/external.md"
          - "benchmarks/hires/external.md"
    - mknotebooks


nav:
    - Getting started:
        - Getting started: "index.md"
        - An easy example: "quickstart/easy_example.ipynb"
        - Transitioning: "quickstart/transitioning_from_other_packages.md"
        - Choosing a solver: "quickstart/choosing_a_solver.md"
        - Troubleshooting: "quickstart/troubleshooting.md"
    - Examples & Benchmarks:
        - Solvers & Solutions:
            - "examples/posterior_uncertainties.ipynb"
            - "examples/second_order_problems.ipynb"
            - "examples/smoothing.ipynb"
            - "examples/solution_object.ipynb"
            - "examples/dynamic_output_scales.ipynb"
            - "examples/conditioning-on-zero-residual.ipynb"
        - Parameter estimation:
            - Parameter estimation with Optax: "advanced_examples/physics_enhanced_regression_1.ipynb"
            - Parameter estimation with BlackJAX: "advanced_examples/physics_enhanced_regression_2.ipynb"
            - Neural ODEs with Optax: "advanced_examples/neural_ode.ipynb"
        - Benchmarks:
            - Lotka-Volterra:
              - "benchmarks/lotka_volterra/insights.md"
              - "benchmarks/lotka_volterra/internal.ipynb"
              - "benchmarks/lotka_volterra/external.ipynb"
            - Pleiades:
              - "benchmarks/pleiades/external.ipynb"
            - Stiff Van der Pol:
              - "benchmarks/stiff_van_der_pol/external.ipynb"
            - High irradiance response (HIRES):
              - "benchmarks/hires/external.ipynb"
    - API Documentation:
        - ivpsolve: "api_docs/ivpsolve.md"
        - ivpsolvers: "api_docs/ivpsolvers.md"
        - strategies:
          - filters: "api_docs/strategies/filters.md"
          - smoothers: "api_docs/strategies/smoothers.md"
        - implementations:
          - recipes: "api_docs/implementations/recipes.md"
          - cubature: "api_docs/implementations/cubature.md"
          - dense:
              - extra: "api_docs/implementations/dense/extra.md"
              - linearise: "api_docs/implementations/dense/linearise.md"
              - corr: "api_docs/implementations/dense/corr.md"
          - iso:
              - extra: "api_docs/implementations/iso/extra.md"
              - corr: "api_docs/implementations/iso/corr.md"
          - blockdiag:
              - extra: "api_docs/implementations/blockdiag/extra.md"
              - corr: "api_docs/implementations/blockdiag/corr.md"
          - scalar:
              - extra: "api_docs/implementations/scalar/extra.md"
              - corr: "api_docs/implementations/scalar/corr.md"
        - solution: "api_docs/solution.md"
        - taylor: "api_docs/taylor.md"
        - controls: "api_docs/controls.md"

    - Developer Documentation:
        - Changelog: "dev_docs/changelog.md"
        - "dev_docs/creating_example_notebook.md"
        - "dev_docs/continuous_integration.md"


