# Inspired by https://blog.elmah.io/deploying-a-mkdocs-documentation-site-with-github-actions/

name: doc-publish
on:
  push:
    branches:
      - main

permissions:
  contents: write

  doc:
    name: Build docs (with ${{ matrix.python-version }} on ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]
        os: [ ubuntu-latest ]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt-get install pandoc
        pip install --upgrade pip
        pip install .[cpu,doc]
    - name: Build the HTML docs
      run: make doc
    - name: Publish the HTML docs
      run: mkdocs gh-deploy --force --clean --verbose